.container-footer {
    height: 25vh;
    display: flex;
    align-items: flex-end;
}

.github-link {
    text-decoration: none;
    color: #887c86;
    padding: 0 4em;
}

.github-link:hover {
    text-decoration: revert;
}
